/*
=====================================================
	MAIN STYLESHEET - Portifolio
=====================================================
*/

/* Colors = Variables, Reset & Base */
@import url('home/colors.css');

/* Themes - Light & Dark Mode */
@import url('home/theme.css');

/* Components - Reusable UI Elements */
@import url('home/components.css');

/* Layout */
@import url('home/layout.css');

/* Effects - Animations & Visual Effects */
@import url('home/effects.css');

/* Utilities - Helpers & Classes */
@import url('home/utilities.css');